footer {
  background: #fff !important;

  .bg-footer {
    background: #0f1837;
    border-radius: 6px;
    margin-bottom: 50px;

    .form-group {
      padding: 10px 21px;
    }
    label {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #ffffff;
    }
    input {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #020b2a;
    }

    .btn-footer {
      padding: 0 36px;
    }

    button.btn-success {
      //   width: 170px;
      //   height: 70px;
      background: #83d987;
      border-radius: 4px;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: #132039;
    }
  }

  .card-footer {
    padding: 0;
    margin-top: 20px;
    background: #fff !important;
    /* footer */
    .text-footer {
      font-weight: 300;
      font-size: 18px;
      color: #8a8c97;

      .fa-heart {
        color: crimson;
      }
    }

    a {
      color: #8a8c97;
      text-decoration: none !important;
      &:hover {
        text-decoration: underline;
        color: #020b2a;
      }
    }
  }
}

@media (max-width: 767px) {
  .bg-footer {
    background: #0f1837;
    margin-bottom: 50px;

    button.btn-success {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 575px) {
  .bg-footer {
    background: #0f1837;
    margin-bottom: 50px;
    border-radius: unset !important;
  }
}
