nav {
  .con-nav {
    padding: 0 0;
  }
  padding: 40px 80px !important;
  background: transparent;
  font-weight: 500;
  transition: all 0.3s ease;
  .navbar-nav {
    .active {
      color: #83d987 !important;
    }
  }
  .btn-success {
    background: #83d987;
    font-weight: 500;
    color: #132039;
  }
}
.sticky {
  @include media-breakpoint-up(lg) {
    background: #0f1837;
    padding: 10px 80px !important;
  }
}
@include media-breakpoint-down(md) {
  nav {
    // background: #0f1837 !important;
    background: #0f1837 !important;
    padding: 20px 20px !important;
  }
}
@include media-breakpoint-down(sm) {
  nav {
    background: #0f1837 !important;
    padding: 10px 30px !important;
    .navbar-nav {
      align-items: center;
      margin: 30px 0;
      a.nav-link {
        padding: 20px 0;
      }
    }
    .btn-success {
      margin-top: 10px;
      display: block;
    }
  }
}
